%div
  %p.tagline
    Host an event and
    %span.accent generate playlists automatically
    %br/
    based on the taste of your participants.
  %p.text-center
    = link_to 'auth/spotify', class: 'btn btn-accent btn-lg', role: 'button' do
      Log in with
      %i.fa.fa-lg.fa-spotify{"aria-hidden" => "true"}
      Spotify
